*.ipynb
*__pycache__
**/data/*
!**data/spouse/
*.pkl
**/checkpoint/
*.ipynb_checkpoints/
connect-s3.sh
.idea/*
*/runs/*
**/runs/*
*.png
**/checkpoints/
*.notebooks
.Rhistory
*core*
*models/
notebooks/results/cov_probs_3.pickle
notebooks/results/cov_probs_2.pickle
notebooks/results/cov_probs.pickle
