*.ipynb
*__pycache__
**/data/visual_genome/VG_100K/*
**/data/visual_genome/subset_VG/*
**/data/VRD/*
**/data/word_embeddings/*
*.pkl
!**data/spam/*
**/checkpoint/
*.ipynb_checkpoints/
connect-s3.sh
.idea/*
*/runs/*
**/runs/*
*.png
**/checkpoints/
*.notebooks
.Rhistory
*core*
*models/
*.json